<div class="page" id="page">
	{{> o-global-header }}
	<div role="main">
		<div class="l-two-col">
			<div class="l-main">
				<article class="article">
					<header class="article-header">
						<h1>Article Headline Lorem ipsum dolor sit amet</h1>
						{{> m-text-byline-author-time }}
					</header>
					{{> o-article-article-body }}
				</article><!--end .article-->
				{{> m-components-social-share }}
				{{> o-comments-comment-thread }}
			</div><!--end l-main-->

			<div class="l-sidebar">
				{{> o-sections-related-posts }}
				{{> o-sections-recent-tweets }}
			</div><!--end l-sidebar-->
		</div><!--end l-two-col-->	
	</div><!--End role=main-->
	{{> o-global-footer }}
</div>