<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>Pattern Lab Pattern</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
	
		{% pattern-lab-head %}
	
	</head>
	<body>	
		<!-- Start of Pattern -->