<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-block-hero }}
		<div class="g g-3up">
			<div class="gi">
				{{> molecules-inset-block }}
			</div>
			<div class="gi">
				{{> molecules-inset-block }}
			</div>
			<div class="gi">
				{{> molecules-inset-block }}
			</div>
		</div><!--end 3up-->

		<hr />

		{{# latest-block }}
				<div class="cont">
					{{> molecules-inset-block }}
				</div>
		{{/ latest-block}}

		<ul>
			{{#listItems.twelve}}
				<li>
					<h3>{{name.first}} {{name.middlei}} {{name.last}} </h3>
					<p>{{title}}</p>
					<p>{{description}}</p>
					<p>{{url}}</p>
				</li>
			{{/listItems.twelve}}
		</ul>

		<div class="l-two-col">
			<div class="l-main">
				{{> organisms-latest-posts }}
			</div>

			<div class="l-sidebar">
				{{> organisms-recent-tweets }}
			</div

			{{# inset-blocks }}
				<div class="cont">
					{{> molecules-inset-block }}
				</div>
			{{/ inset-blocks}}
		
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>