	
	<script>
		// handle injection of items from builder
		var patternDesc    = "{{ patternFooterData.patternDesc }}";
		var patternEngine  = "{{ patternFooterData.patternEngine }}";
		var patternName    = "{{ patternFooterData.patternName }}";
		var patternParents = "{{ patternFooterData.patternParents }}";
		var patternPartial = "{{ patternFooterData.patternPartial }}";
		var lineage        = {{ patternFooterData.lineage }};
		var lineageR       = {{ patternFooterData.lineageR }};
		var patternState   = "{{ patternFooterData.patternState }}";
		var cssEnabled     = {{ patternFooterData.cssEnabled }};
	</script>
	