	<script id="pl-js-insert-{{ cacheBuster }}">
		(function() {
			if (self != top) {
				var cb = '{{ cacheBuster}}';
				var js = ["styleguide/js/postmessage.js","data/annotations.js","styleguide/js/annotations-pattern.js","styleguide/js/code-pattern.js"]
				var s  = document.getElementById('pl-js-insert-{{ cacheBuster }}'); 
				for (var i = 0; i < js.length; i++) {
					var c = document.createElement('script');
					c.src = '../../'+js[i]+'?'+cb;
					s.parentNode.insertBefore(c,s);
				}
			}
		})();
	</script>
	
