	<script id="pl-js-insert-{{ cacheBuster }}">
		(function() {
			if (self != top) {
				var cb = '{{ cacheBuster}}';
				var js = [ "styleguide/js/postmessage.js", { "src": "data/annotations.js", "dep": [ "styleguide/js/annotations-pattern.js" ] }, "styleguide/js/code-pattern.js"];
				var s  = document.getElementById('pl-js-insert-'+cb); 
				for (var i = 0; i < js.length; i++) {
					var src = (typeof js[i] != "string") ? js[i].src : js[i];
					var c   = document.createElement('script');
					c.src   = '../../'+src+'?'+cb;
					if (typeof js[i] != "string") {
						if (js[i].dep !== undefined) {
							c.onload = function(dep) {
								return function() {
									for (var k = 0; k < dep.length; k++) {
										var d = document.createElement('script');
										d.src = '../../'+dep[k]+'?'+cb;
										s.parentNode.insertBefore(d,s);
									}
								}
							}(js[i].dep);
						}
					}
					s.parentNode.insertBefore(c,s);
				}
			}
		})();
	</script>
	
