.DS_Store
public/index.html
public/styleguide/html/styleguide.html
public/css/*.css
public/patterns/*
config.ini
latest-change.txt
/public/styleguide/js/styleguide-ck.js
/public/listeners/synclisteners-ck.js