.DS_Store
public/index.html
public/styleguide.html
public/styleguide/html/styleguide.html
public/css/*
public/data/*.js
public/fonts/*
public/js/*
public/images/*
public/patterns/*
config.ini
latest-change.txt
*-ck.js