.DS_Store
public/index.html
public/styleguide.html
public/patterns/a*
public/patterns/m*
public/patterns/o*
public/patterns/p*
config.ini
latest-change.txt
/public/styleguide/js/styleguide-ck.js
/public/listeners/synclisteners-ck.js