<section class="section latest-posts">
	<h2 class="section-title">Latest Posts</h2>
	<ul class="post-list">
		<li>{{> m-blocks-media-block }}</li>
		<li>{{> m-blocks-media-block }}</li>
		<li>{{> m-blocks-media-block }}</li>
		<li>{{> m-blocks-media-block }}</li>
		<li>{{> m-blocks-media-block }}</li>
	</ul>
</section>