/*------------------------------------*\
    $TABLE OF CONTENTS d
\*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Sass variables 
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins 
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/* Colors */
/* Typography */
/* Layout */
/* Defaults */
/* Borders */
/* Breakpoints */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Clearfix */
.cf, .l-two-col, .l-two-col-alt, .l-three-col, [role=main] {
  *zoom: 1; }

.cf:before, .l-two-col:before, .l-two-col-alt:before, .l-three-col:before, [role=main]:before, .cf:after, .l-two-col:after, .l-two-col-alt:after, .l-three-col:after, [role=main]:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after, .l-two-col:after, .l-two-col-alt:after, .l-three-col:after, [role=main]:after {
  clear: both; }

/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important; }

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

/* Floats */
.right {
  float: right;
  padding: 0 0 1rem 1rem; }

.right-search {
  float: right;
  padding: 0 0 1rem 0; }

.left {
  float: left;
  padding: 0 1rem 1rem 0; }

/* Text-Align */
.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.uppercase {
  text-transform: uppercase; }

/* Display Classes */
.hide-small {
  display: none; }
  @media all and (min-width: 46.8em) {
    .hide-small {
      display: block; } }

.hide-small-med {
  display: none; }
  @media all and (min-width: 60em) {
    .hide-small-med {
      display: block; } }

@media all and (min-width: 46.8em) {
  .hide-med {
    display: none; } }

@media all and (max-width: 46.8em) {
  .hide-med-max {
    display: none; } }

@media all and (min-width: 60em) {
  .hide-large {
    display: none; } }

@media all and (max-width: 60em) {
  .hide-large-max {
    display: none; } }

@media all and (min-width: 73em) {
  .hide-xl {
    display: none; } }

.hide-small-large-show-medium {
  display: none; }
  @media all and (min-width: 46.8em) {
    .hide-small-large-show-medium {
      display: inline; } }
  @media all and (min-width: 60em) {
    .hide-small-large-show-medium {
      display: none; } }

@media all and (min-width: 46.8em) {
  .hide-med-show-small-large {
    display: none; } }
@media all and (min-width: 60em) {
  .hide-med-show-small-large {
    display: block; } }

body {
  background: white;
  font: 100%/1.5 "jaf-bernino-sans-condensed", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #333333; }

/* Links */
a {
  color: #333333;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: gray; }

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha {
  font-size: xx-large;
  font-size: 2.4375rem; }

h2, .beta {
  font-family: "jaf-bernino-sans-condensed", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: x-large;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 0 0.25rem; }
  @media all and (min-width: 46.8em) {
    h2, .beta {
      font-size: x-large;
      font-size: 1.4375rem;
      margin-bottom: 1rem; } }

h3, .gamma {
  margin: 0 0 0.25rem;
  font-family: "jaf-bernino-sans-condensed", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  line-height: 1.3;
  font-size: large;
  font-size: 1rem; }

h4, .delta {
  margin: 0 0 0.25rem;
  font-family: "jaf-bernino-sans-condensed", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: large;
  font-size: 1rem;
  line-height: 1.2; }

h5, .epsilon {
  margin: 0 0 0.25rem;
  font-family: "jaf-bernino-sans-condensed", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: normal;
  font-size: 1rem; }

h6, .zeta {
  margin: 0 0 0.25rem;
  font-family: "jaf-bernino-sans-condensed", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: x-large;
  font-size: 1.1rem; }

hgroup {
  margin-bottom: 1rem; }

hgroup h1, hgroup h2, hgroup h3 {
  margin: 0; }

/* Text-Related Elements */
p {
  margin-bottom: 1rem; }

/* Blockquote */
blockquote {
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  font-size: 1;
  border-left: 6px solid gray;
  color: gray;
  line-height: 2rem;
  padding-left: 1rem;
  margin-bottom: 1rem; }

.pullquote blockquote {
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  border: none;
  font-size: 1;
  line-height: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  margin-top: -1rem; }
  .pullquote blockquote cite {
    position: absolute;
    padding-left: 3rem; }
  .pullquote blockquote:before {
    content: " ";
    height: 1.2rem;
    display: block;
    position: relative;
    left: -2.2rem;
    top: 1.125rem;
    background: url(/patterns/images/quote-mark-b.png) no-repeat;
    background-size: 1.5rem; }
  .pullquote blockquote:after {
    content: " . ";
    color: transparent;
    display: inline-block;
    width: 1.5rem;
    background: url(/patterns/images/quote-mark-e.png) no-repeat 0.25rem -0.125rem;
    background-size: 1.1rem; }
  @media all and (min-width: 46.8em) {
    .pullquote blockquote {
      font-size: 1.6rem;
      line-height: 1.2; }
      .pullquote blockquote:before {
        background-size: 2rem; }
      .pullquote blockquote:after {
        background-size: 1.4rem; } }
  @media all and (min-width: 60em) {
    .pullquote blockquote {
      font-size: 2.34rem;
      font-siez: 1;
      line-height: 1.155;
      padding-left: 3rem; }
      .pullquote blockquote:before {
        height: 2.2rem;
        background-size: 3.5rem;
        top: 1.563rem;
        left: -4rem; }
      .pullquote blockquote:after {
        background-position: 0.4rem -0.18rem;
        background-size: 2rem;
        width: 3rem; } }

/* Horizontal Rule */
hr {
  border: 0;
  height: 1px;
  background: gray;
  margin: 2rem 0; }

small {
  font-size: 0.7rem;
  font-weight: bold;
  color: gray;
  text-transform: uppercase; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 1rem; }

dt {
  float: left;
  clear: left;
  font-weight: bold;
  margin-right: 0.3em; }
  dt:after {
    content: ": "; }

dd {
  float: left;
  margin: 0; }

/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
img, video, object {
  max-width: 100%;
  height: auto; }

iframe {
  margin-bottom: 1rem; }

figure {
  margin-bottom: 1rem; }
  figure img {
    margin-bottom: 0.25rem; }

figcaption {
  font-style: italic; }

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form > div {
  margin-bottom: 1rem; }

form ol, form ul {
  list-style: none;
  margin-left: 0; }

legend {
  display: none; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }
  fieldset > div {
    margin-bottom: 1rem; }

label {
  display: block;
  padding-bottom: 0.25rem; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

input, textarea {
  width: 100%;
  border: 1px solid gray;
  padding: 0.5rem 0.65rem; }

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none; }

button, input[type="submit"] {
  padding: 0.5rem;
  background: #333333;
  border: 1px solid gray;
  cursor: pointer;
  text-transform: uppercase; }

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em; }

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.inline-form fieldset, .inline-form .inline-container {
  position: relative; }
.inline-form input[type=submit], .inline-form button, .inline-form .btn {
  font-size: medium;
  font-size: 0.875rem;
  padding: 0.65rem 1.3rem;
  background: #333333;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto; }
  .inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus, .inline-form button:hover, .inline-form button:focus, .inline-form .btn:hover, .inline-form .btn:focus {
    background: gray;
    color: white; }

.inline-search-results-form {
  width: 100%; }
  @media all and (min-width: 46.8em) {
    .inline-search-results-form {
      width: 82%; } }
  .inline-search-results-form fieldset, .inline-search-results-form .inline-container {
    position: relative; }
  .inline-search-results-form input[type=submit], .inline-search-results-form button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: auto; }

.inline-search-results-form ::-webkit-input-placeholder {
  font-size: 1.2em; }
.inline-search-results-form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 1.2em; }
.inline-search-results-form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1.2em; }
.inline-search-results-form :-ms-input-placeholder {
  font-size: 1.2em; }
.inline-search-results-form input.search-input {
  font-size: 1.2em;
  color: #111; }

h1.search-heading {
  position: relative;
  top: 0.5em; }
  @media all and (min-width: 46.8em) {
    h1.search-heading {
      top: 0.4em; } }
  @media all and (min-width: 60em) {
    h1.search-heading {
      top: 0.1em; } }

.inline-select {
  font-size: small;
  font-size: 0.85rem;
  background: transparent;
  height: 3em;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0 0.4em; }

/* Validation */
.has-error {
  border-color: red; }

.is-valid {
  border-color: #089e00; }

.error {
  display: block;
  color: red; }

.valid {
  display: block;
  color: #089e00; }

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* Search Form */
.search-field {
  padding-right: 3em; }

.inline-form .search-submit {
  background: none;
  padding: 0.78em 1em;
  border: 0;
  border-left: 1px solid #dddddd;
  color: gray; }

/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid gray;
  width: 100%; }

th {
  text-align: left;
  border: 1px solid gray;
  padding: 0.2em; }

td {
  border: 1px solid gray;
  padding: 0.2em; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/* Layout Container */
.lc, .header, [role=main] {
  max-width: 82rem;
  margin: 0 auto;
  padding: 0.5rem; }
  .lc.flush, .flush.header, .flush[role=main] {
    padding-top: 0;
    padding-bottom: 0; }

.box {
  padding: 0.5rem;
  margin-bottom: 1rem; }

/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/
/* Main Column Container */
.l-main-container {
  float: left;
  width: 100%; }

/* Two Column Layout */
@media all and (min-width: 60em) {
  .l-two-col > .l-main-container > .l-main {
    margin-right: 19.75rem;
    padding-right: 1rem; } }
@media all and (max-width: 60em) {
  .l-two-col > .l-sidebar {
    clear: both; } }
@media all and (min-width: 60em) {
  .l-two-col > .l-sidebar {
    float: left;
    width: 19.75rem;
    margin-left: -19.75rem;
    padding-left: 1rem; } }

/* Two Column Layout */
@media all and (max-width: 60em) {
  .l-two-col-alt > .l-sidebar {
    clear: both; } }
@media all and (min-width: 60em) {
  .l-two-col-alt > .l-sidebar {
    float: left;
    width: 15rem;
    padding-left: 1rem; } }
@media all and (min-width: 60em) {
  .l-two-col-alt .l-main {
    margin-left: 15rem; } }

/* Three Column Layout */
.l-three-col {
  /* Left Sidebar */ }
  @media all and (min-width: 46.8em) and (max-width: 60em) {
    .l-three-col > .l-main-container > .l-main {
      padding: 0 3rem; } }
  @media all and (min-width: 60em) {
    .l-three-col > .l-main-container > .l-main {
      margin-right: 19.75rem;
      padding-right: 1rem; } }
  @media all and (min-width: 73em) {
    .l-three-col > .l-main-container > .l-main {
      margin-left: 18%;
      padding-left: 2rem; } }
  .l-three-col .l-sidebar-1 {
    display: none;
    /* Initially hidden */ }
    @media all and (min-width: 73em) {
      .l-three-col .l-sidebar-1 {
        display: block;
        float: left;
        width: 18%;
        margin-left: -100%; } }
  @media all and (min-width: 46.8em) and (max-width: 60em) {
    .l-three-col .l-sidebar-2 {
      padding: 0 3rem; } }
  @media all and (max-width: 60em) {
    .l-three-col .l-sidebar-2 {
      clear: both; } }
  @media all and (min-width: 60em) {
    .l-three-col .l-sidebar-2 {
      float: left;
      width: 19.75rem;
      margin-left: -19.75rem;
      padding-left: 1rem; } }

@media all and (min-width: 73em) {
  .l-two-col-expose > .l-main-container > .l-main {
    margin-left: 18%;
    padding-left: 2rem; } }
.l-two-col-expose > .l-sidebar {
  display: none; }
  @media all and (min-width: 73em) {
    .l-two-col-expose > .l-sidebar {
      display: block;
      float: left;
      width: 18%;
      margin-left: -100%; } }

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/* Grid Container */
.g {
  overflow: hidden;
  margin: 0 -0.5rem; }

/* Grid Item */
.gi {
  padding: 0.5rem; }
  .gi img {
    display: block; }
  @media all and (min-width: 46.8em) {
    .gi {
      float: left; } }

/* Grid 1up */
.g-1up .gi {
  width: 100%; }

/* Grid 2up */
@media all and (min-width: 46.8em) {
  .g-2up > .gi {
    float: left;
    width: 50%; }
    .g-2up > .gi:nth-of-type(odd) {
      clear: left; } }

/* Grid Half (Always displayed side by side) */
.g-half > .gi {
  float: left;
  width: 50%; }
  .g-half > .gi:nth-of-type(odd) {
    clear: left; }

/* Grid 3up */
@media all and (min-width: 46.8em) {
  .g-3up > .gi {
    float: left;
    width: 50%; }
    .g-3up > .gi:nth-of-type(2n+1) {
      clear: left; } }
@media all and (min-width: 60em) {
  .g-3up > .gi {
    width: 33.3333333%; }
    .g-3up > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-3up > .gi:nth-of-type(3n+1) {
      clear: left; } }

/* Grid 4up */
@media all and (min-width: 46.8em) {
  .g-4up > .gi {
    float: left;
    width: 50%; }
    .g-4up > .gi:nth-of-type(2n+1) {
      clear: both; } }
@media all and (min-width: 60em) {
  .g-4up > .gi {
    width: 25%; }
    .g-4up > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-4up > .gi:nth-of-type(4n+1) {
      clear: left; } }

/* Grid Quarter (Always displayed side by side) */
.g-quarter > .gi {
  float: left;
  width: 24%; }
  .g-quarter > .gi:nth-of-type(4n+1) {
    clear: left; }

@media all and (min-width: 29.75em) {
  .g-max4 > .gi {
    float: left;
    width: 50%; }
    .g-max4 > .gi:nth-of-type(2n+1) {
      clear: both; } }
@media all and (min-width: 39.8em) {
  .g-max4 > .gi {
    width: 33.3333333%; }
    .g-max4 > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-max4 > .gi:nth-of-type(3n+1) {
      clear: left; } }
@media all and (min-width: 60em) {
  .g-max4 > .gi {
    width: 25%; }
    .g-max4 > .gi:nth-of-type(3n+1) {
      clear: none; }
    .g-max4 > .gi:nth-of-type(4n+1) {
      clear: left; } }

/* Grid 5up */
.g-max5 > .gi {
  float: left;
  width: 50%; }
  .g-max5 > .gi:nth-of-type(2n+1) {
    clear: both; }
@media all and (min-width: 39.8em) {
  .g-max5 > .gi {
    width: 33.3333333%; }
    .g-max5 > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(3n+1) {
      clear: left; } }
@media all and (min-width: 46.8em) {
  .g-max5 > .gi {
    width: 25%; }
    .g-max5 > .gi:nth-of-type(3n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(4n+1) {
      clear: left; } }
@media all and (min-width: 50em) {
  .g-max5 > .gi {
    width: 20%; }
    .g-max5 > .gi:nth-of-type(4n+1) {
      clear: none; }
    .g-max5 > .gi:nth-of-type(5n+1) {
      clear: left; } }

/* Grid 2/3 */
@media all and (min-width: 46.8em) {
  .gi-2-3 {
    float: left;
    width: 66.666666%; } }

@media all and (min-width: 46.8em) {
  .gi-1-3 {
    float: left;
    width: 33.333333%; } }

/* Grid 4up block */
.g-opposites .gi {
  float: left; }
  .g-opposites .gi:last-child {
    float: right;
    text-align: right; }

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
.header {
  background: white;
  padding: 0;
  border-bottom: 1px solid #dbdbdb; }
  .header .search-form {
    overflow: hidden;
    max-height: 0; }
    .header .search-form.active {
      max-height: 8em; }

.logo {
  float: left;
  max-width: 11rem;
  margin: 0.4rem; }

.nav-toggle {
  float: right;
  display: block;
  padding: 0.9rem 1rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1;
  border-left: 1px solid #dbdbdb; }
  .nav-toggle.active {
    background: #131313;
    color: white; }

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
.nav {
  clear: both;
  overflow: hidden;
  max-height: 0; }
  .nav.active {
    max-height: 40em; }

/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
  padding: 0;
  overflow: hidden; }

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  clear: both;
  overflow: hidden;
  background: #131313;
  color: white;
  line-height: 1.2; }
  .footer .lc, .footer .header, .footer [role=main] {
    padding: 1rem 1rem 0; }
  .footer a {
    color: #f9f9f9; }

/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
/* Passages of Text */
/* Review Grade Tile */
.grade {
  display: block;
  font-weight: bold;
  background: gray;
  color: white;
  min-height: 4.5rem;
  padding-top: 1.5rem;
  text-align: center; }

/* Eyebrow */
.eyebrow {
  background: #333333;
  color: white;
  padding: 0.2em;
  display: inline-block;
  margin-bottom: 0.5rem; }

.eyebrow-image {
  position: relative; }
  .eyebrow-image img {
    position: relative;
    z-index: 0; }
  .eyebrow-image .eyebrow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/* Icon Font */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-twitter:before, .icon-stumbleupon:before, .icon-pinterest:before, .icon-linkedin:before, .icon-google-plus:before, .icon-search:before, .icon-play:before, .icon-menu:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-bubble:before, .icon-facebook:before, .icon-feed:before, .icon-youtube:before, .icon-tag:before, .icon-tumblr:before, .icon-instagram, .icon-podcast, .icon-apple, .icon-android, .icon-arrow:after, .icon-envelope:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-twitter:before {
  content: "\74"; }

.icon-stumbleupon:before {
  content: "\75"; }

.icon-pinterest:before {
  content: "\70"; }

.icon-linkedin:before {
  content: "\69"; }

.icon-google-plus:before {
  content: "\67"; }

.icon-search:before {
  content: "\73"; }

.icon-play:before {
  content: "\61"; }

.icon-menu:before {
  content: "\21"; }

.icon-arrow-left:before {
  content: "\23"; }

.icon-arrow-right:before {
  content: "\24"; }

.icon-bubble:before {
  content: "\25"; }

.icon-facebook:before {
  content: "\66"; }

.icon-feed:before {
  content: "\27"; }

.icon-youtube:before {
  content: "\79"; }

.icon-tag:before {
  content: "\28"; }

.icon-tumblr:before {
  content: "\6d"; }

.icon-instagram:before {
  content: "\22"; }

.icon-podcast:before {
  content: "\26"; }

.icon-android:before {
  content: "\29"; }

.icon-apple:before {
  content: "\2a"; }

.icon-envelope:before {
  content: "\2b"; }

.icon-arrow:after {
  content: "\61";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.icon-play:before {
  font-size: 0.7rem;
  padding-left: 0.2em; }

.icon-play-box {
  display: block;
  margin-left: 2rem; }

.icon-play-box:before {
  padding: 0.25rem;
  background: gray;
  color: white;
  margin-left: -1.7rem;
  margin-right: 0.5rem; }

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
  display: inline-block;
  background: #333333;
  color: white;
  line-height: 1;
  font-weight: bold;
  padding: 1rem;
  border: 0;
  text-align: center; }
  .btn:hover {
    color: white; }

.btn-small {
  padding: 0.5rem; }

.btn-large {
  padding: 0.5rem;
  text-transform: uppercase;
  background: gray;
  font-size: 1.4rem;
  font-weight: normal; }

.text-btn {
  font-style: italic; }

.tags {
  margin-bottom: 0.5rem; }

@media all and (min-width: 73em) {
  .page-title .tags {
    display: none; } }

.tag {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  font-size: small;
  font-size: 0.75rem;
  line-height: 1;
  display: inline-block;
  background: #333333;
  color: white;
  padding: 0.5rem;
  margin-right: 0.5rem;
  position: relative; }
  .tag:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    display: inline-block;
    margin-left: -5px;
    border-top: 5px solid #333333;
    border-top-color: #333333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; }
  .tag:hover {
    background: gray;
    color: white; }
    .tag:hover:after {
      border-top-color: gray; }

/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
.brick {
  background: #dcdddc;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee; }

/* Block */
.block {
  overflow: hidden; }
  .block .headline {
    margin: 0;
    font-size: medium;
    font-size: 1rem; }
  .block p:last-child {
    margin-bottom: 0; }

/* Hero Block */
.block-hero .b-thumb img {
  display: block; }
.block-hero .headline {
  padding: 0.5rem; }

/* Block Thumbnail with Headline */
.block-thumb {
  display: table;
  width: 100%;
  border-collapse: collapse; }
  .block-thumb .b-inner {
    display: table-row;
    overflow: hidden; }
  .block-thumb .b-thumb {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    max-width: 10em; }
    .block-thumb .b-thumb img {
      display: block;
      width: 100%;
      height: auto; }
  .block-thumb .b-text {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
    padding: 0 0.5rem; }

/* Block Small Thumbnail with Headline */
.block-thumb-small .b-thumb {
  width: 20%;
  max-width: 6em; }
.block-thumb-small .b-text {
  width: 80%; }

/* Headline-only block */
.block-headline a {
  display: block;
  padding: 0.5rem; }
.block-headline .headline, .block-headline .byline {
  display: inline; }

/* Block Headline Summary */
.block-headline-summary a {
  display: block;
  padding: 0.5rem; }

/* Block Inset */
.block-inset {
  position: relative; }
  .block-inset .b-thumb {
    position: relative;
    z-index: 0; }
    .block-inset .b-thumb img {
      display: block; }
  .block-inset .b-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5rem; }

/* Block Thumb with Summary */
.block-thumb-summary .b-thumb {
  float: left;
  width: 50%; }
.block-thumb-summary .b-text {
  margin-left: 50%;
  padding: 0.5rem; }

.inline-list li {
  display: inline-block; }

/* Social List */
.social-list li {
  margin: 0 0.4rem 1rem 0; }
.social-list a {
  font-size: 1.6em; }

/* Headline List */
.headline-list {
  border-top: 1px solid #dddddd;
  margin-bottom: 1rem; }
  .headline-list.flush {
    margin: 0; }
  .headline-list li {
    border-bottom: 1px solid #dddddd; }

/* Bullet List */
.bullet-list {
  list-style: square;
  margin: 0 0 1em 1.2em;
  line-height: 1.3; }
  .bullet-list li {
    margin-bottom: 1rem; }

/* Text List */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3; }
  .text-list li {
    margin-bottom: 1rem; }

/* Callouts */
.announcement {
  background: #333333;
  font-size: small;
  font-size: 0.75rem; }
  .announcement .lc, .announcement .header, .announcement [role=main] {
    padding: 0.5rem 1rem; }
  .announcement a {
    display: block;
    color: white; }
  @media all and (min-width: 46.8em) {
    .announcement {
      font-size: 1; } }

div.live-event-name {
  display: block; }
  @media all and (min-width: 46.8em) {
    div.live-event-name {
      float: left; } }

div.live-event-more-link {
  display: block;
  margin-top: 0.25rem; }
  @media all and (min-width: 46.8em) {
    div.live-event-more-link {
      float: right;
      margin-top: 0; } }

.live {
  color: red; }

.new-stories {
  background: #dddddd;
  padding: 0.5rem 0;
  margin-bottom: 1rem; }
  .new-stories p {
    color: black;
    margin-bottom: 0; }

.placeholder {
  padding: 8em 0;
  margin-bottom: 1rem; }

.tooltip-container {
  display: inline-block;
  position: relative; }
  .tooltip-container:hover .tooltip {
    display: block; }

.tooltip-link {
  background: #f9f9f9; }

.tooltip {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 18em;
  padding: 1rem;
  background: white;
  border: 1px solid gray;
  box-shadow: 0.3em 0.3em 1em 0 rgba(0, 0, 0, 0.2); }
  .tooltip h2 {
    margin-top: 0; }
  @media all and (min-width: 24em) {
    .tooltip {
      width: 22em; } }
  @media all and (min-width: 29.75em) {
    .tooltip {
      width: 27em; } }
  @media all and (min-width: 39.8em) {
    .tooltip {
      width: 30em; } }

.accordion {
  margin-bottom: 1rem; }

.acc-handle {
  background: #131313;
  color: white;
  font-family: "jaf-bernino-sans-condensed", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  display: block;
  position: relative;
  padding: 0.5rem;
  border-bottom: 1px solid #dddddd; }
  .acc-handle:after {
    content: "+";
    float: right; }
  .acc-handle:hover {
    color: white;
    background: #333333; }
  .acc-handle.active {
    background: #333333; }
    .acc-handle.active a:after {
      content: "-"; }

.tabs {
  overflow: hidden; }
  .tabs ul {
    display: table;
    width: 100%; }
  .tabs li {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #dddddd; }
    .tabs li:last-child {
      border-right: 0; }
  .tabs a {
    display: block;
    padding: 0.5rem;
    background: gray;
    text-transform: uppercase; }
    .tabs a:hover, .tabs a:focus {
      background: #dddddd; }
    .tabs a.active {
      background: #333333;
      color: white; }

/* Horizontal Carousel */
.carousel-horizontal {
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative; }

.carousel-island-container {
  overflow: hidden; }

.carousel-container {
  position: relative; }

.carousel-controls {
  display: table;
  width: 100%;
  margin: -0.5rem 0 1rem; }
  .carousel-controls a, .carousel-controls div {
    display: table-cell;
    padding: 0.5rem; }
  .carousel-controls .carousel-pagination {
    text-align: center; }
  .carousel-controls .carousel-next {
    text-align: right; }

.slideshow {
  margin-bottom: 1rem; }

.sideshow-nav {
  overflow: hidden; }
  .sideshow-nav ul {
    width: 9999999em; }
  .sideshow-nav li {
    float: left;
    max-width: 8em;
    margin-right: 0.5rem; }

.article {
  padding: 0.5rem; }
  .article .byline {
    margin-bottom: 0.5rem; }

/* Wordpress Caption */
.wp-caption-text {
  font-style: italic; }

/* Review Summary */
.review-summary .grade {
  width: 4.5em;
  float: left;
  margin: 0 0.5rem 0 0; }
.review-summary .summary-text {
  margin-left: 5em; }

.comments-btn {
  display: block;
  margin-bottom: 1rem; }
  @media all and (min-width: 46.8em) {
    .comments-btn {
      display: none; } }

.comment-form {
  margin-bottom: 1rem; }

.fyre-stream-content {
  margin-bottom: 2rem; }

.fyre-comment-article {
  overflow: hidden;
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 0.9rem; }
  .fyre-comment-article:last-child .fyre-comment-footer {
    border-bottom: 0; }

.fyre-comment-user {
  float: left;
  width: 4.5rem;
  padding-right: 1rem; }
  .fyre-comment-user img {
    border-radius: 10px; }

.fyre-comment-username {
  color: gray;
  font-size: 1rem; }

.fyre-comment-date {
  position: absolute;
  top: 0.23rem;
  right: 0;
  color: #dddddd;
  font-size: 0.7rem; }
  .fyre-comment-date:hover, .fyre-comment-date:focus {
    color: gray; }

.fyre-comment-head {
  margin: 0 0 0.5rem 4.5rem; }

.fyre-comment {
  margin-left: 4.5rem; }

.fyre-comment-footer {
  margin-left: 4.5rem;
  font-size: small;
  font-size: 0.75rem;
  overflow: hidden;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eeeeee; }
  .fyre-comment-footer a {
    color: gray;
    font-weight: bold; }
    .fyre-comment-footer a:hover, .fyre-comment-footer a:focus {
      color: gray; }

.fyre-comment-actions {
  float: left; }

.fyre-flag-link {
  padding: 0 0.5rem; }

.fyre-comment-like {
  float: right; }

.fyre-comment-reply {
  float: right;
  padding: 0 0.5rem; }
