/* from styles.css */
#comment-link {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 4;
	width: 100px;
	height: 100px;
	overflow: hidden;
	line-height: 1;
}

#comment-link a { 
	display: block; 
	background: #9d0000; 
	color: #fff; 
	padding: 1em 1.2em; 
}

#comment-link a:hover, #comment-link a:focus {
	background: #c20000;
}

#comment-container {
	background: #333;
	color: #fff;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;	
	text-align: left;
	padding: 1em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

#close-comments {
	color: #fff;
	position: absolute;
	top: 1em;
	right: 1em;
	text-transform: uppercase;
	display: none;
}

/* from enhanced.css */
#comment-link { 
	position: fixed; 
	bottom: 0; right: 0; 
	z-index: 4; 
	width: 100px; 
	height: 100px; 
	overflow: hidden;
	line-height: 1;
}
.csstransforms #comment-link a { 
	-webkit-transform: rotate(-45deg); 
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg); 
	-ms-transform: rotate(-45deg); 
	width: 182px; 
	height: 100px; 
	margin-top: 40px;
	padding: 5px; 
	text-align: center; 
}
#comment-link a strong {
	display: block;
}
#comment-container {
	position: fixed;
	top: auto;
	padding: 1em 1em 4em;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-transition: bottom 0.3s ease-out;
	-moz-transition: bottom 0.3s ease-out;
  	-webkit-transition: bottom 0.3s ease-out;
  	-ms-transition: bottom 0.3s ease-out; 
  	-o-transition: bottom 0.3s ease-out; 
  	transition:  bottom 0.3s ease-out;
}
#close-comments {
	display: block;	
}