.sg-pattern-state:before {
	margin-right: 4px;
	content: "\2022";
	display: inline-block;
	margin-bottom: -4px;
	font-size: 18px;
	vertical-align: bottom;
}

.sg-nav .sg-pattern-state:before {
	margin-top: -4px;
	margin-bottom: 0;
	margin-left: -4px;
	height: 20px;
	display: block;
	float: left;
}

.sg-sub-nav .sg-pattern-state:before {
	margin-left: -11px;
	margin-right: 4px;
}

.inprogress:before {
	color: #FF4136 !important;
}

.inreview:before {
	color: #FFCC00 !important;
}

.complete:before {
	color: #2ECC40 !important;
}