<div class="block block-hero">
	<a href="{{ m-blocks-block-hero.href }}" class="inner">
		<div class="b-thumb">
			{{> a-images-landscape-4x3 }} 
		</div>
		<div class="b-text">
			<h2 class="headline">{{ m-blocks-block-hero.headline }}</h2>
		</div>
	</a>
</div>