<div class="comment-container">
	<div class="comment-meta">
		{{> atoms-avatar }}
		<h4 class="comment-name"><a href="#">Comment Author</a></h4>
	</div>
	<div class="comment-text">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales fringilla arcu a pretium. Aliquam sit amet lacinia felis. Praesent sed nisl eu nunc venenatis imperdiet. Aliquam at ipsum eu justo fringilla pharetra. </p>
	</div>
</div>