<ol class="sg-nav">
	{{# buckets }}
		<li class="sg-nav-{{ bucketNameLC }}"><a class="sg-acc-handle">{{ bucketNameUC }}</a><ol class="sg-acc-panel">
		{{# navItems }}
			<li class="sg-nav-{{ sectionNameLC }}"><a class="sg-acc-handle">{{ sectionNameUC }}</a><ol class="sg-acc-panel">
			{{# navSubItems }}
				<li><a href="patterns/{{ patternPath }}/pattern.html" class="sg-pop">{{ patternName }}</a></li>
			{{/ navSubItems }}
			</ol></li>
		{{/ navItems }}
		</ol></li>
	{{/ buckets }}
</ol>
<ul id="sync" class="sg-control sg-size sg-acc-panel">
	<li><a href="#" id="navSyncButton" data-state="off">Page Follow Disabled</a></li>
	<li><a href="#" id="contentSyncButton" data-state="off">Auto-reload Disabled</a></li>
</ul>