{{> organisms-header }}
<div role="main">
	<article class="article">
		<header class="article-header">
			<div class="eyebrow">PopWatch</div> <div class="eyebrow">Oscars</div>
			<h1>Jack Black gets roasted: Here are the top 15 zingers of the night</h1>
			{{> molecules-byline-author-time }}
		</header>
		<div class="text article-entry">
			<div class="wp-image">
				{{> atoms-landscape-4x3 }}
				<p class="wp-caption-text">Image Credit: Charles Eshelman</p>
			</div>
			{{> organisms-article-body }}
		</div>
		<footer class="article-footer">
			{{> molecules-social-article }}
		</footer>
	</article>
	<section id="comments" class="comments box">
		<h3>Post a comment</h3>
		{{> molecules-comment-form }}
		<a href="#" class="btn btn-block">32 Comments</a>
	</section>
	
	<section class="box">
		<h3>Related</h3>
		<ul class="bullet-list">
			<li><a href="#">Jack Black is getting a Friars Club roast–let's get the ball rolling!</a></li>
			<li><a href="#">From 'Jurassic Park' to 'Back to the Future': Movies meant to be seen on the big screen</a></li>
		</ul>
	</section>

	<section class="box">
		<h3>More from Pattern Watch</h3>
		<ul class="bullet-list">
			<li><a href="#">Jack Black is getting a Friars Club roast–let's get the ball rolling!</a></li>
			<li><a href="#">From 'Jurassic Park' to 'Back to the Future': Movies meant to be seen on the big screen</a></li>
			<li><a href="#">'Saturday Night Live' recap: Melissa McCarthy brought the heat and hammed it up</a></li>
			<li><a href="#">No HBO, no problem: Get your blood and battles fix with 'Vikings' instead</a></li>
		</ul>
		<a href="#" class="text-btn">Go to Pattern Watch</a>
	</section>

	<section class="section">
		<ul class="headline-list">
			<li>{{> molecules-block-thumb-headline }}</li>
			<li>{{> molecules-block-thumb-headline }}</li>
		</ul>
		<a href="#" class="btn btn-more">More Featured News</a>
	</section>

	{{> organisms-section-partners }}
	{{> organisms-section-sponsored-links }}

</div><!--End role=main-->

{{> organisms-footer }}
