<div class="page" id="page">
	{{> o-global-header }}
	<div role="main">
		{{> m-blocks-block-hero }}
		<div class="g g-3up">
			<div class="gi">
				{{> m-blocks-inset-block }}
			</div>
			<div class="gi">
				{{> m-blocks-inset-block }}
			</div>
			<div class="gi">
				{{> m-blocks-inset-block }}
			</div>
		</div><!--end 3up-->

		<hr />

		<div class="l-two-col">
			<div class="l-main">
				{{> o-sections-latest-posts }}
			</div>

			<div class="l-sidebar">
				{{> o-sections-recent-tweets }}
			</div>
		</div>
		
	</div><!--End role=main-->
	{{> o-global-footer }}
</div>