<section class="box">
	<h3>You Might Like</h3>
	<ul class="text-list">
		<li><a href="#">I Guess They Weren’t Franchise Potential? 15 Big Budget Movie Series That Didn’t Get Off The Ground</a><div class="byline">Sponsored by Sponsor</div></li>
		<li><a href="#">Rose Byrne: Bradley Cooper's New Leading Lady</a><div class="byline">Sponsored by Sponsor</div></li>
		<li><a href="#">Plastic Surgery Disasters: Lil Kim, Meg Ryan & More</a><div class="byline">Sponsored by Sponsor</div></li>
		<li><a href="#">THE 10 WORST REALITY SHOW TRAGEDIES — SO FAR</a><div class="byline">Sponsored by Sponsor</div></li>
	</ul>
</section>