<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pattern Lab</title>
	<link rel="stylesheet" href="styleguide/css/static.css">
</head>
<body>
	<div class="container">
		<header class="header" role="banner">
			<h1>Pattern Lab</h1>
			<p class="tagline">Applying <a href="#">atomic design</a> to create pattern libraries.</p>
		</header>

		<div role="main">
			<h2>About Pattern Lab</h2>
			
			<h3>What</h3>
			<p>The XXXXXXXXX style guide is a collection of the project's interface components collected under one roof.</p>

			
			<h3>Why</h3>
			<p>This style guide keeps track of every module going onto the site, creates a shared vocabulary between everyone involved in the project, makes testing easier, establishes a better workflow,  and builds a canonical reference to keep coming back to.</p>

			
			<h3>Who</h3>
			<p>This style guide benefits everyone involved in the project. Clients and managers can use it as a way of keeping track of everything going on the site and as an educational resource. Visual designers can use it as a way to see how each module works in a responsive environment and also keep track of typefaces and other visual treatments. Developers can use it as a front-end code library and use it to test everything under one roof.</p>

			
			<h3>Where</h3>
			<p>The style guide should initially live in a sandbox environment accessible via a single URL. This ensures that everyone on the team has access to the style guide. Optionally (and ideally) the style guide may be published publicly like <a href="http://www.starbucks.com/static/reference/styleguide/">Starbucks</a>, <a href="http://www.bbc.co.uk/gel/mobile/device-considerations/philosophy">The BBC</a>, and <a href="http://pasteup.gu.com/">The Guardian</a> have done.</p>
			
			<h3>How</h3>
			<p>The style guide's patterns live in sub-folders of the <code>patterns</code> directory. The index page dynamically pulls in all the patterns into one page. The styles are helped along with <a href="http://sass-lang.com/">Sass</a>, which allows the team to define variables and author more modular styles. </p>
			
			<h2 class="sg-head sg-sub" id="resources"><a href="#resources">Style Guide Resources</a></h2>
			<div>
				<h3>About Style Guides</h3>
				<ul>
					<li><a href="http://24ways.org/2011/front-end-style-guides">Front-End Style Guides</a></li>
					<li><a href="http://coding.smashingmagazine.com/2008/05/02/improving-code-readability-with-css-styleguides/">Improving Code Readability With CSS Styleguides</a></li>
					<li><a href="http://www.slideshare.net/stephenhay/style-guides-are-the-new-photoshop-fronteers-2012">Style Guides are the new Photoshop</a></li>
				</ul>
				
				<h3>Style Guide Tools</h3>
				<ul>
					<li><a href="http://bradfrost.github.com/this-is-responsive/patterns.html">Responsive Patterns</a></li>
					<li><a href="http://styletil.es/">Style Tiles</a></li>
					<li><a href="http://pea.rs/">Pears</a></li>
					<li><a href="http://patternprimer.adactio.com/">Pattern Primer</a></li>
					<li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
					<li><a href="http://foundation.zurb.com/">Foundation Zurb</a></li>
					<li><a href="http://baselinecss.com/typography.html">Baseline</a></li>
				</ul>
				
				<h3>Style Guides Examples</h3>
				<ul>
					<li><a href="http://www.starbucks.com/static/reference/styleguide/">Starbucks Style Guide</a></li>
					<li><a href="http://www.bbc.co.uk/gel/mobile/device-considerations/philosophy">BBC</a></li>
					<li><a href="http://pasteup.gu.com/">The Guardian</a></li>
					<li><a href="http://www.southtees.nhs.uk/style-guide/">South Tees Hospital</a></li>
					<li><a href="http://paulrobertlloyd.com/about/styleguide/">Paul Robert Lloyd</a></li>
				</ul>
				
				<h3>Style Guide Roundup</h3>
				<ul>
					<li><a href="https://gimmebar.com/collection/4ecd439c2f0aaad734000022/front-end-styleguides">Style Guide Resource Round-Up</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
