<!DOCTYPE html>
<html>
<head>
    <title>Style Guide</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styleguide/css/styleguide.css" media="all" />
    <link rel="stylesheet" href="/css/style.css" media="all" />
</head>
<body>

<!--Style Guide Main Content-->
<div class="sg-main" role="main">

<!--Patterns-->
<div id="patterns">
	{{# partials }}
		<div class="sg-pattern">
			<h2 class="sg-head sg-sub" ><a href="/patterns/{{ patternLink }}">{{ patternName }}</a></h2>
			{{{ patternPartial }}}
		</div>
	{{/ partials }}
</div> <!--end #patterns-->
</div><!--End Style Guide Main Content-->
<script>
	var body = document.getElementsByTagName('body');
	body[0].onclick = function() {
		parent.postMessage('body-click',"http://"+window.location.host)
	};
</script>
</body>
</html>