<!DOCTYPE html>
<html>
<head>
    <title>Style Guide for a Specific Pattern</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styleguide/css/styleguide.css" media="all" />
    <link rel="stylesheet" href="/css/style.css" media="all" />
</head>
<body>

<!--Style Guide Main Content-->
<div class="sg-main" role="main">

	<!--Patterns-->
	<div id="patterns">
		{{# partials }}
			<div class="sg-section">
				<h2 class="sg-head sg-sub" id="#"><a href="#" class="sg-pop">Pattern Name</a></h2>
				<div class="sg-pattern">
					{{{ . }}}
				</div><!--end .sg-pattern-->
			</div><!--end .sg-section-->
		{{/ partials }}
	</div> <!--end #patterns-->
	
</div><!--end .sg-main-->
</body>
</html>