<div class="page" id="page">
	{{> o-global-header }}
	<div role="main">
		<h1>Latest Posts</h1>
		<div class="l-two-col">
			<div class="l-main">
				{{> m-navigation-pagination }}
			</div><!--end l-main-->

			<div class="l-sidebar">
				
			</div><!--end l-sidebar-->
		</div><!--end two-col-->
	</div><!--End role=main-->
	{{> o-global-footer }}
</div>