<section class="comments section">
	<div class="comments-container" id="comments-container">
		<h2 class="section-title">59 Comments</h2>
		{{> molecules-comment-form }} 
		<div class="comment-list">
			{{> molecules-single-comment }} 
			{{> molecules-single-comment }} 
			{{> molecules-single-comment }} 
			{{> molecules-single-comment }} 
			{{> molecules-single-comment }} 
		</div>
	</div>
	{{> molecules-pagination }} 
</section>