
<!-- View All Patterns in a Pattern Sub-Type -->
<div class="sg-main" role="main">
	<h1>Snapshots</h1>
	<p>These are a list of the snapshots you've made of your Pattern Lab project:</p>
	<ul>
		{{{ html }}}
	</ul>
</div><!--end .sg-main-->

<!-- JS to hook everything together and do annotations -->
<script>
	// handle injection of items from builder
	var patternPartial = "snapshots";
	var lineage = "";
</script>

