<script>
  var ishMinimum           = {{ ishminimum }};
  var ishMaximum           = {{ ishmaximum }};
	var qrCodeGeneratorOn    = {{ qrcodegeneratoron }};
	var ipAddress            = "{{ ipaddress }}";
	var xipHostname          = "{{ xiphostname }}";
</script>