<div id="{{ patternPartial }}" class="sg-subtype">
	<h2><a href="../../patterns/{{ patternLink }}" class="patternLink" data-patternpartial="{{ patternPartial }}">{{ patternName }}</a></h2>
	<div class="sg-pattern-body">
		{{{ patternDesc }}}
	</div>
</div>