<!DOCTYPE html>
<html>
<head>
    <title>Style Guide</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../styleguide/css/styleguide.css" media="all" />
    <link rel="stylesheet" href="../../css/style.css" media="all" />
</head>
<body>

<!--Style Guide Main Content-->
<div class="sg-main" role="main">

<!--Patterns-->
<div id="patterns">
	{{# partials }}
		<div class="sg-pattern">
			<h2 class="sg-head sg-sub" ><a href="../../patterns/{{ patternLink }}" class="patternLink" data-patternpartial="{{ patternPartialPath }}">{{ patternName }}</a></h2>
			{{{ patternPartial }}}
		</div>
	{{/ partials }}
</div> <!--end #patterns-->
</div><!--End Style Guide Main Content-->
<script>
	var body = document.getElementsByTagName('body');
	body[0].onclick = function() {
		var targetOrigin = (window.location.protocol == "file:") ? "*" : window.location.protocol+"//"+window.location.host;
		parent.postMessage( { "bodyclick": "bodyclick" }, targetOrigin)
	};
	
	var els = document.getElementsByClassName("patternLink");
	for (i in els) {
		els[i].onclick = function() {
			var targetOrigin = (window.location.protocol == "file:") ? "*" : window.location.protocol+"//"+window.location.host;
			parent.postMessage( { "patternpartial": this.getAttribute("data-patternpartial"), "path": "foo" }, targetOrigin);
			return false;
		}
	}
	
	var targetOrigin = (window.location.protocol == "file:") ? "*" : window.location.protocol+"//"+window.location.host;
	parent.postMessage( { "patternpartial": "all", "path": window.location.toString() }, targetOrigin);
	
	// watch the iframe source so that it can be sent back to everyone else.
	function receiveIframeMessage(event) {
		
		// does the origin sending the message match the current host? if not dev/null the request
		if ((window.location.protocol != "file:") && (event.origin !== window.location.protocol+"//"+window.location.host)) {
			return;
		}
		
		if (event.data.path != undefined) {
			var path = window.location.protocol+"//"+window.location.host+window.location.pathname.replace("styleguide\/html\/styleguide.html","")+event.data.path;
			window.location.replace(path);
		} else if (event.data.reload != undefined) {
			window.location.reload();
		}
		
	}
	window.addEventListener("message", receiveIframeMessage, false);
</script>
</body>
</html>