<!DOCTYPE html>
<html id="patternlab-html">
	<head id="patternlab-head">
		<title>Pattern Lab Sub-type Style Guide</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="../../styleguide/css/styleguide.css" media="all" />
		<link rel="stylesheet" href="../../css/style.css" media="all" />
	</head>
	<body id="patternlab-body" class="pattern-list">
		
		<!-- View All Patterns in a Pattern Sub-Type -->
		<div class="sg-main" role="main">
			
			<!-- Patterns -->
			<div id="patterns">
				{{# partials }}
					<div class="sg-pattern">
						<h2 class="sg-pattern-head" ><a href="../../patterns/{{ patternLink }}" class="patternLink" data-patternpartial="{{ patternPartialPath }}">{{ patternName }}</a></h2>
						<div class="sg-pattern-body">
							{{{ patternPartial }}}
						</div>
					</div>
				{{/ partials }}
			</div> <!--end #patterns-->
	
		</div><!--end .sg-main-->
		
		<!-- JS to hook everything together and do annotations -->
		<script>
			// handle injection of items from PHP
			var patternPartial = "{{ patternPartial }}";
			var lineage = "";
		</script>
		<script src="../../styleguide/js/postmessage.js"></script>
		<script src="../../data/annotations.js"></script>
		<script src="../../styleguide/js/annotations-pattern.js"></script>
		
	</body>
</html>