<!DOCTYPE html>
<html>
<head>
    <title>Style Guide for a Specific Pattern Sub-Type</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../styleguide/css/styleguide.css" media="all" />
    <link rel="stylesheet" href="../../css/style.css" media="all" />
</head>
<body>

<!--Style Guide Main Content-->
<div class="sg-main" role="main">

	<!--Patterns-->
	<div id="patterns">
		{{# partials }}
			<div class="sg-pattern">
				<h2 class="sg-head sg-sub" ><a href="../../patterns/{{ patternLink }}" class="patternLink" data-patternpartial="{{ patternPartialPath }}">{{ patternName }}</a></h2>
				{{{ patternPartial }}}
			</div>
		{{/ partials }}
	</div> <!--end #patterns-->
	
</div><!--end .sg-main-->
<script>
	
	var body = document.getElementsByTagName('body');
	body[0].onclick = function() {
		parent.postMessage( { "bodyclick":"bodyclick" }, window.location.protocol+"//"+window.location.host)
	};
	
	var els = document.getElementsByClassName("patternLink");
	for (i in els) {
		els[i].onclick = function() {
			parent.postMessage( { "patternpartial": this.getAttribute("data-patternpartial") }, window.location.protocol+"//"+window.location.host);
			return false;
		}
	}
	
	// alert the iframe parent that the pattern has loaded. for page follow.
	parent.postMessage( { "url": window.location.host, "patternpartial": "{{ patternPartial }}" },window.location.protocol+"//"+window.location.host);
	
</script>
</body>
</html>