/* Text-Related Elements */ 
p {
	margin-bottom: $space;
}

/* Blockquote */

blockquote {
	font-family:$font;
    font-style:italic;
    font-size:$font-size-norm;
    border-left:6px solid $gray;
    color: $gray;
    line-height:$space-double;
	padding-left: $pad;
	margin-bottom: $space;
}


.pullquote blockquote {
	font-family:$font;
    font-style:italic;
    border:none;
    font-size:$font-size-norm;
    line-height:$space-and-half;
	padding-left: $pad+$pad/2;
	margin-bottom: $space;
    margin-top: -1rem;
	
    cite{
        position:absolute;
        padding-left:$pad-double+$pad;
    }
    
    &:before {
        content:" ";
        height:1.2rem;
        display:block;
        position:relative;
        left:-2.2rem;
        top: 1.125rem;
        background: url(/patterns/images/quote-mark-b.png) no-repeat;
        background-size: 1.5rem;
    } 
    &:after{
        content:" . ";
        color:transparent;
        display:inline-block;
        width:1.5rem;
        background: url(/patterns/images/quote-mark-e.png) no-repeat 0.250rem -0.125rem;
        background-size:1.1rem;  
    }
    @media all and (min-width: $bp-med) {
        font-size:1.6rem; 
        line-height: 1.2;
            &:before {
                background-size:2rem;
            }    
            &:after{
                background-size:1.4rem;  
                }    
    }     
    @media all and (min-width: $bp-large) {
		font-size: 2.34rem;
        font-siez:$font-size-norm;
		line-height: 1.155;
        padding-left: $pad-double+$pad;
        
        &:before {
            height:2.2rem;
            background-size: 3.5rem;
            top: 1.563rem;
            left: -4rem;
            }
        &:after{
            background-position: 0.4rem -0.18rem;
            background-size: 2rem;
            width:3rem;
            }         
	}
}



/* Horizontal Rule */ 
hr {
	border: 0;
    height: 1px;
    background: $gray;
    margin: $space-double 0;
}

small {
	font-size: 0.7rem;
	font-weight: bold;
	color: $gray;
	text-transform: uppercase;
}