<!DOCTYPE html>
<html>
	<head>
		<title>Pattern Lab</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="styleguide/css/styleguide.css" media="all" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/styleguide/js/jquery.js"><\/script>')</script>
	</head>
	<body>
		<!--Style Guide Header-->
		<header class="sg-header" role="banner">
			<a href="#sg-nav-container" class="sg-nav-toggle">Menu</a>
			<div class="sg-nav-container" id="sg-nav-container">
				{{> patternNav }}
				{{> ishControls }}
			</div>
		</header>
		<!--End Style Guide Header-->

		<!-- Iframe -->
		<div id="sg-vp-wrap">
			<div id="sg-cover"></div>
			<div id="sg-gen-container">
				<iframe id="sg-viewport" src="styleguide/html/styleguide.html"></iframe>
				<div id="sg-rightpull-container">
					<div id="sg-rightpull"></div>
				</div>
			</div>
		</div>
		<!--end iFrame-->
		
		<script src="js/data-saver.js"></script>
		<script src="styleguide/js/styleguide.js"></script>
		{{> websockets }}
		<script src="listeners/synclisteners.js"></script>
	</body>
</html>