<!-- Begin .header -->
<header class="header cf" role="banner">
	{{> a-images-logo }}
	<a href="#" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
	<a href="#" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
	{{> m-forms-search }}
	{{> m-navigation-primary-nav }}
</header>
<!-- End .header -->