<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #0061aa;"></span>
		<span class="sg-label">#0061aa $color-primary</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff700;"></span>
		<span class="sg-label">#fff700 $color-secondary</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f4f7fc;"></span>
		<span class="sg-label">#f4f7fc $color-tertiary</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffff00;"></span>
		<span class="sg-label">#ffff00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00ffff;"></span>
		<span class="sg-label">#00ffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff00ff;"></span>
		<span class="sg-label">#ff00ff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>