/* Callouts */
.announcement {
	background: $gray-dark;

	@include font-size($font-size-sm,small);
	
	.lc {
		padding: $pad-half $pad;
	}
	
	a {
		display: block;
		color: $white;
	}


	@media all and (min-width: $bp-med) {
		font-size: $font-size-norm;
	}
}

div.live-event-name { 
	display: block;
	@media all and (min-width: $bp-med) {
		float: left; 
	}
}

div.live-event-more-link { 
	display: block;
	margin-top: $pad-quarter;
	@media all and (min-width: $bp-med) {
		float: right;
		margin-top: 0;
	}
}

.live { color: red; }

.new-stories {
	background: $gray-light-3;
	padding: $pad-half 0;
	margin-bottom: $pad;
	p { color: $black; margin-bottom: 0; }
}

.placeholder {
	padding: 8em 0;
	margin-bottom: $pad;
}



