/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: $gray-dark-2;
	color: $white;
	line-height: 1.2;

	.lc {
		padding: $pad $pad 0;
	}


	a {
		color: $gray-light;
	}

	
}